<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
    <!-- Your configurations here -->
	<servlet>
    	<description></description>
    	<display-name>LeaderboardServlet</display-name>
    	<servlet-name>LeaderboardServlet</servlet-name>
    	<servlet-class>com.mathking.LeaderboardServlet</servlet-class>
 	</servlet>
  <servlet-mapping>
    <servlet-name>LeaderboardServlet</servlet-name>
    <url-pattern>/LeaderboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.mathking.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <display-name>MathKing</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ResultsServlet</display-name>
    <servlet-name>ResultsServlet</servlet-name>
    <servlet-class>com.mathking.ResultsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultsServlet</servlet-name>
    <url-pattern>/ResultsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>com.mathking.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/ProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getWorksheet</display-name>
    <servlet-name>getWorksheet</servlet-name>
    <servlet-class>com.mathking.getWorksheet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getWorksheet</servlet-name>
    <url-pattern>/getWorksheet</url-pattern>
  </servlet-mapping>
</web-app>